.aboutus {
  min-height: 433px;
  background-image: url(/img/banners/aboutus-background-desktop.webp);

  @media(min-resolution: 2dppx) {
    background-image: url(/img/banners/aboutus-background-desktop@2x.png);
  }

  @include vp-768 {
    min-height: 393px;
    background-image: url(/img/banners/aboutus-background-tablet.png);

    @media(min-resolution: 2dppx) {
      background-image: url(/img/banners/aboutus-background-tablet@2x.png);
    }

    background-repeat: no-repeat;
    background-size: cover;
  }

}

.aboutus__container {
  padding-top: 120px;
  padding-bottom: 120px;
  @include main-container-margin-bottom;

  @include vp-768 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}


.aboutus__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  max-width: 760px;
  margin: 0 auto;

  @include vp-768 {
    font-size: 31px;
  }
}

.aboutus__more {
  display: block;
  text-align: center;
  margin: 50px auto 0;
}
