.btn {
  display: inline-flex;
  // padding: 10px 20px;
  padding: 13px 27px 16px;

  color: $color-midnight;

  background-color: transparent;
  // border: none;
  // border: 1px solid $color-heather;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
