@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

// Desktop first

@mixin vp-1366 {
  @media (max-width: ($vp-1366)) {
    @content;
  }
}

@mixin vp-768 {
  @media (max-width: ($vp-768)) {
    @content;
  }
}

@mixin vp-320 {
  @media (max-width: ($vp-320)) {
    @content;
  }
}

@mixin main-container-margin-bottom {
  margin-bottom: 140px;

  @include vp-768 {
    margin-bottom: 120px;
  }
}

// Миксины для быстрой верстки блока со смещением
@mixin offset__content {
  position: relative;
}

@mixin offset__left-container {
  padding: 100px 220px 100px 100px;
  max-width: 670px;
  background-color: $color-linen;

  @include vp-768 {
    padding: 60px 281px 60px 60px;
  }
}

@mixin offset__text {
  margin-top: 40px;

  p + p {
    margin-top: 23px;
  }
}

@mixin offset__right-container {
  position: absolute;
  right: 0;
  top: 66px;
  max-width: 670px;
}

// Mobile first

// @mixin vp-375 {
//   @media (min-width: $vp-375) {
//     @content;
//   }
// }

// @mixin vp-768 {
//   @media (min-width: $vp-768) {
//     @content;
//   }
// }

// @mixin vp-1024 {
//   @media (min-width: $vp-1024) {
//     @content;
//   }
// }

// @mixin vp-1280 {
//   @media (min-width: $vp-1280) {
//     @content;
//   }
// }

// @mixin vp-1440 {
//   @media (min-width: $vp-1440) {
//     @content;
//   }
// }

// @mixin vp-1920 {
//   @media (min-width: $vp-1920) {
//     @content;
//   }
// }

// ---------------------------------

// не нужно добавлять свои миксины для ресета списков, обнуления кнопок и прочие
// этим вы усложняете работу команды, проверку вашего кода и будущую поддержку проекта
